---
import Paragraph from "@components/atoms/Paragraph.astro";

interface Props {
  title: string;
  description: string;
  image:string;
  link: string;
}

const { title, description, image, link } = Astro.props;
---

<a href={link} aria-label={`Link to -> ${title}`} target="_blanc" rel="noopener noreferrer" class="flex flex-col justify-between gap-y3 p5 rd-xl b b-zinc2/40 dark-b-zinc8/30 bg-zinc1/80 dark-bg-zinc9/20 hover-bg-zinc1 dark-hover-bg-zinc9/60 backdrop-blur-md ease-linear duration-100">
  <div class="space-y-3">
    <h2 font-semibold text-lg text-zinc9 dark-text-white>
      {title}
    </h2>
    <Paragraph>
      {description}
    </Paragraph>
  </div>
  <img
      src={image}
      width={1181}
      height={578}
      alt={`Image - ${title}`}
      class="wfull hauto rd-lg"
    />
</a>
