---
interface Props {
  fileName: string;
  contribLink: string;
}

const { fileName: fileName, contribLink } = Astro.props;

const contribLinks = [
  {
    href: contribLink,
    text: "Contributing",
    icon: "i-fx-story-map",
  },
  {
    href: `linkto-file${fileName}.mdx`,
    text: "Edit this page",
    icon: "i-carbon-edit",
  },
  {
    href: "https://github.com/unify-ui-dev/flexilla",
    text: "Star On github",
    icon: "i-carbon-star",
  },
];
---

<div
  class="mb2 p5 rd-xl b b-zinc2/90 dark-b-zinc8/60 bg-zinc1/60 dark-bg-zinc9/60"
>
  <h2 class="text-sm font-semibold hidden lg-flex text-zinc8 dark-text-zinc2">
    Community
  </h2>
  <nav aria-label="Contribute Links" mt-3>
    <ol un-flex flex-col space-y-2 text-zinc6 dark-text-zinc4 text-sm>
      {
        contribLinks.map((link) => (
          <li>
            <a
              href={`${link.href}`}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={`Link to ${link.text}`}
              class="flex items-center gap-x2 justify-between hover-text-zinc9 dark-hover-text-white ease-linear duration-200"
            >
              <span un-flex items-center gap-x2>
                <span aria-hidden="true" class={`flex ${link.icon}`} />
                {link.text}
              </span>
              <span
                aria-hidden="true"
                class="flex i-carbon-arrow-up-right text-10px"
              />
            </a>
          </li>
        ))
      }
    </ol>
    <a
      href="#linkDiscussion"
      aria-label="Start a discussion"
      target="_blank"
      rel="noopener noreferrer"
      class="px5 mt3 wfull flex items-center justify-center h8 rd-lg bg-gradient-to-t from-zinc2 to-zinc1 dark-from-zinc9 dark-to-zinc8 b b-zinc2/80 dark-b-zinc8/90 text-sm"
    >
      Start a discussion
    </a>
  </nav>
</div>
