---
import { type SeoType } from "@/types/index";
import { defaultOgAlt, defaultOgImage, keywordsDef } from "../const";
import "@assets/css/docs-styles.css";
import "@assets/css/scrollbar.css";
import BaseLayout from "./BaseLayout.astro";
import Sidebar from "@components/docs/Sidebar.astro";
import TopDocNav from "@components/docs/blocks/TopDocNav.astro";
import DocFooter from "./FooterDoc.astro";
import type { MarkdownHeading } from "astro";
import DocsNavBar from "./DocsNavBar.astro";

interface Props {
  title: string;
  activeItem: string;
  description?: string;
  headings: MarkdownHeading[];
  keywords?: string;
  ogImage?: {
    src: string;
    alt: string;
  };
}

const { headings, activeItem, title, keywords, ogImage, description } =
  Astro.props;

const seo: SeoType = {
  ogImage: {
    src: ogImage?.src || defaultOgImage,
    alt: ogImage?.alt || defaultOgAlt,
  },
  keywords: `${keywordsDef} ${keywords ? `, ${keywords}` : ""}`,
  title: title,
  description: description
    ? description
    : "Easily add interactive Components to your App.",
};
---

<BaseLayout seo={seo}>
  <DocsNavBar />
  <div
    class="mx-auto wfull max-w83rem lg-px8 md-grid md-grid-cols-[220px_minmax(0,1fr)] gap14 xl-gap0"
  >
    <Sidebar activeItem={activeItem} />
    <div class="flex flex-col text-zinc7 dark-text-zinc3 relative">
      <TopDocNav headings={headings} />
      <main class="grid xl-grid-cols-[1fr_220px] mb20">
        <slot />
      </main>
      <DocFooter />
    </div>
  </div>
</BaseLayout>
<script>
  import { initScroll } from "@assets/js/sample-scrollbar";
  import { initAppScript } from "@assets/js/doc-script";


  const initScriptInDocs = () => {
    initScroll();
    initAppScript();
  };
  initScriptInDocs();
  document.addEventListener("astro:after-swap", initScriptInDocs);
</script>
