---
import Button from "@components/atoms/Button.astro";
import Link from "@components/atoms/Link.astro";

interface Props {
  id: string;
  avatar: string;
  user_name: string;
  profile_link: string;
  description: string;
  team: {
    name: string;
    link: string;
  };
  mail: string;
  type: "public" | "private";
  role: "member" | "admin" | "owner" | "collaborator";
}

const {
  id,
  avatar,
  user_name,
  profile_link,
  description,
  team,
  mail,
  type,
  role,
} = Astro.props;
---

<div class="px3 py-2 flex gap-x5">
  <div class="min-wmax flex group">
    <label
      for={`checkUser${id}`}
      class="relative flex items-center justify-center size-4 rd-md b b-zinc2/80 dark-b-zinc8/80 has-checked-bg-zinc8 dark-has-checked-bg-white"
    >
      <input
        type="checkbox"
        id={`checkUser${id}`}
        name={`checkUser${id}`}
        class="peer invisible absolute"
      />
      <span
        aria-hidden="true"
        class="invisible i-carbon-checkmark peer-checked-visible flex text-white dark-text-zinc9 font-semibold text-xs"
      ></span>
      <span aria-hidden="true" class="sr-only">Checkbox</span>
    </label>
    <input type="checkbox" aria-label="Check selection" class="peer hidden" />
  </div>
  <div class="flex-1 flex flex-col sm-flex-row sm-items-center gap-x4">
    <div class="flex items-center gap-x4 flex-1">
      <img
        src={avatar}
        width="140"
        height="140"
        alt="Avatar"
        class="size-10 rd-full object-cover"
      />
      <div class="flex flex-col">
        <div
          class="wmax relative"
        >
        {
          id === "us1" ? (
        <img src="/vector/tooltip.png" width="100.4" height="108.47" alt="vector show popover" class="absolute bottom-0.5 left-full wauto rotate-30"/>
          ):null
        }
          <a
            data-popover-trigger
            data-popover-id={id}
            href={profile_link}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`Link to ${user_name} Profile`}
            class="font-semibold text-zinc8 dark-text-zinc1 hover-underline underline-offset-3"
          >
            {user_name}
          </a>
          <div
            data-fx-popover
            id={id}
            data-offset-distance="0"
            data-trigger-strategy="hover"
            data-prevent-close-inside
            class="ui-popper op0 invisible transition-opacity duration-200 fx-open-op100 fx-open-visible b b-zinc2/80 dark-b-zinc8/80 bg-zinc1/90 dark-bg-zinc9/90 backdrop-blur-xl rd-xl w70 sm-w84 z50 overflow-hidden"
          >
            <div
              class="flex items-center gap-x2 px4 py1.5 b-b b-b-zinc2/80 dark-b-b-zinc8/80 text-xs sm-text-sm text-zinc7 dark-text-zinc3"
            >
              <span aria-hidden="true" class="flex i-carbon-chat text-xs"
              ></span>
              Building A Chat App
            </div>
            <div class="p4 space-y-6">
              <div class="flex justify-between">
                <img
                  src={avatar}
                  alt="Avatar"
                  width="140"
                  height="140"
                  class="size-13 rd-full object-cover"
                />
                <Link
                  href={profile_link}
                  variant={"gradient"}
                  aria-label="Start free trial"
                  size={"sm"}
                  radius={"sm"}
                  target={"_blank"}
                  rel={"noopener noreferrer"}
                >
                  View Profile
                </Link>
              </div>
              <div class="flex flex-wrap items-center gap-3">
                <span class="text-zinc9 dark-text-white">{user_name}</span>
                <span class="text-zinc6 dark-text-zinc4 text-xs sm-text-sm"
                  >{mail}</span
                >
              </div>
              <p class="text-sm text-zinc8 dark-text-zinc2 font-200">
                {description}
              </p>
              <ul class="text-zinc6 dark-text-zinc4 text-sm">
                <li class="flex items-center gap-x3">
                  <span class="flex i-carbon-location"></span>
                  Lubumbashi - Rd Congo
                </li>
                <li class="flex items-center gap-x3">
                  <span class="flex i-carbon-events"></span>
                  <div>
                    Member of <a
                      href={team.link}
                      target={"_blank"}
                      aria-label={`Link to ${team.name} Profile`}
                      rel={"noopener noreferrer"}
                      class="text-zinc8 dark-text-zinc2 font-medium"
                    >
                      {team.name}
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-xs sm-text-sm text-zinc6 dark-text-zinc4">{mail}</span>
      </div>
    </div>
    <div
      class="flex sm-justify-end items-center gap-x3 text-sm text-zinc6 dark-text-zinc4"
    >
      <span class="flex items-center gap-x1">
        {
          type === "private" ? (
            <span
              aria-hidden="true"
              class="flex i-carbon-virtual-private-cloud"
            />
          ) : (
            <span aria-hidden="true" class="flex i-carbon-network-public" />
          )
        }
        {type}
      </span>
      <span>{role}</span>
      <div
        class="relative wmax"
      >
        <Button
          data-dropdown-trigger
          data-dropdown-id={`dropdown-more-options-${id}`}
          size={"icons-sm"}
          variant={"flat"}
          radius={"md"}
          aria-label="Setting Option"
          class="b b-zinc2/80 dark-b-zinc8/80"
        >
          <span aria-hidden="true" class="flex i-fx-dots text-2xl"/>
        </Button>
        <div
          id={`dropdown-more-options-${id}`}
          data-fx-dropdown
          data-placement="bottom-middle"
          class="ui-popper op0 invisible transition-opacity duration-200 fx-open-op100 fx-open-visible b b-zinc2/80 dark-b-zinc8/80 bg-zinc1/80 dark-bg-zinc9/80 backdrop-blur-xl p2.5 rd-xl w54 z40"
        >
          <ul class="wfull children-flex text-sm text-zinc7 dark-text-zinc3">
            <li>
              <button
                aria-label="button action"
                class="flex wfull items-center gap-x3 px4 py2 hover-bg-zinc2/60 dark-hover-bg-zinc8/60 outline-transparent rd-lg focus-bg-zinc2/90 dark-focus-bg-zinc8/90 focus-outline focus-outline-zinc4 dark-focus-outline-zinc6"
              >
                <span aria-hidden="true" class="flex i-carbon-managed-solutions"
                ></span>
                <span class="line-clamp-1">Manage User</span>
              </button>
            </li>
            <li>
              <button
                aria-label="button action"
                class="flex wfull items-center gap-x3 px4 py2 hover-bg-zinc2/60 dark-hover-bg-zinc8/60 outline-transparent rd-lg focus-bg-zinc2/90 dark-focus-bg-zinc8/90 focus-outline focus-outline-zinc4 dark-focus-outline-zinc6"
              >
                <span aria-hidden="true" class="flex i-carbon-user-role"></span>
                <span class="line-clamp-1">Change Role</span>
              </button>
            </li>
            <li>
              <button
                aria-label="button action"
                class="flex wfull items-center gap-x3 px4 py2 hover-bg-zinc2/60 dark-hover-bg-zinc8/60 outline-transparent rd-lg focus-bg-zinc2/90 dark-focus-bg-zinc8/90 focus-outline focus-outline-zinc4 dark-focus-outline-zinc6"
              >
                <span aria-hidden="true" class="flex i-carbon-person"></span>
                <span class="truncate flex">Convert to outside...</span>
              </button>
            </li>
            <li>
              <button
                aria-label="button action"
                class="text-red6 dark-text-red5 flex wfull items-center gap-x3 px4 py2 hover-bg-zinc2/60 dark-hover-bg-zinc8/60 outline-transparent rd-lg focus-bg-red2/9 dark-focus-bg-red8/9 focus-outline focus-outline-zinc4 dark-focus-outline-zinc6"
              >
                <span aria-hidden="true" class="flex i-carbon-trash-can"></span>
                <span class="truncate flex">Remove from ...</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
