---
export const prerender = true
import { getCollection } from "astro:content";

import DocsLayout from "@layouts/DocsLayout.astro";
import { components } from "@components/docs/AllComponents.astro";
import { getPagger } from "@helper/doc-helper";
import LinkNavControl from "@components/docs/ui/LinkNavControl.astro";
import BoxContribution from "@components/docs/blocks/BoxContribution.astro";
import DeskTableOfContent from "@components/docs/blocks/DeskTableOfContent.astro";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: { slug: doc.slug.substring(doc.slug.indexOf("/") + 1) },
    props: { doc_content: doc },
  }));
}

const { doc_content } = Astro.props;

const {
  slug,
  data: { title, description },
} = doc_content;

const { Content, headings } = await doc_content.render();

const pageSlugId = slug.substring(slug.indexOf("/") + 1);

const { next: nextSlug, prev: prevSlug, current } = getPagger(pageSlugId);
---

<DocsLayout
  title={`Flexilla - ${current.title}`}
  activeItem={pageSlugId}
  headings={headings}
>
  <article
    class="px5 sm-px10 lg-px10 xl-pr16 lg-px14 xl-px16 min-w0 wfull mx-auto"
  >
    <div class="pt8 pb5 b-b b-b-zinc6/30 dark-b-b-zinc5/20 space-y-2">
      <ol
        class="pb3 flex items-center gap2.5 whitespace-nowrap text-zinc7 dark-text-zinc3 capitalize text-sm md-text-base"
      >
        <li>
          <a
            aria-label="Go to Docs Index page"
            href="/docs/"
            un-flex
            items-center
            gap-2.5
          >
            Docs
            <span aria-hidden="true" un-flex i-carbon-chevron-right text-sm
            ></span>
          </a>
        </li>
        <li text-sm un-truncate text-zinc6 dark-text-zinc4>
          {current.title}
        </li>
      </ol>
      <h1
        class="text-xl md-text-2xl font-semibold text-zinc9 dark-text-white !mb0"
      >
        {title}
      </h1>
      <p class="text-sm md-text-base text-zinc7 dark-text-zinc3">
        {description}
      </p>
    </div>
    <div data-doc-content class="py10 wfull max-wfull">
      <Content components={{ ...components }} />
    </div>
    <div class="flex wfull hpx my8 bg-zinc2/80 dark-bg-zinc8/80"></div>
    <div un-flex flex-col sm-flex-row w-full justify-between gap-4>
      <div flex-1>
        {
          prevSlug ? (
            <LinkNavControl
              text={prevSlug.title}
              href={prevSlug.slug}
              type="prev"
            />
          ) : null
        }
      </div>

      <div flex-1>
        {
          nextSlug ? (
            <LinkNavControl
              text={nextSlug.title}
              href={nextSlug.slug}
              type="next"
            />
          ) : null
        }
      </div>
    </div>
  </article>
  <div
    class="hidden xl-sticky xl-top-16 xl-h-[calc(100vh-4rem)] invisible xl-visible xl-flex xl-flex-col lg-gap-y8"
  >
    <div
      class="lg-hfull lg-overflow-hidden overflow-hidden"
    >
      <DeskTableOfContent headings={headings} />
    </div>
    <div>
      <BoxContribution
        fileName={slug}
        contribLink="https://github.com/unify-ui-dev/flexilla/blob/main/CONTRIBUTING.MD"
      />
    </div>
  </div>
</DocsLayout>
<script>
  import "@assets/js/doc-script";
</script>
