---
export const prerender = true;

import {sidebarItemFlaterned} from "@helper/doc-helper"

import { removeBeforeLastSlash } from "@helper/string-helper";
import { getCollection } from "astro:content";

import DocsLayout from "@layouts/DocsLayout.astro";
import { components } from "@components/docs/AllComponents.astro";
import { getPagger } from "@helper/doc-helper";
import LinkNavControl from "@components/docs/ui/LinkNavControl.astro";
import BoxContribution from "@components/docs/blocks/BoxContribution.astro";
import DeskTableOfContent from "@components/docs/blocks/DeskTableOfContent.astro";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: { slug: removeBeforeLastSlash(doc.slug) },
    props: { doc_content: doc },
  }));
}

const { doc_content } = Astro.props;

const {
  slug,
  id,
  data: { title, description, hidePagination, hideTableOfContent },
} = doc_content;

const { Content, headings } = await doc_content.render();

const pageSlugId = removeBeforeLastSlash(slug);

const activeItem = slug.includes("framework-guide")
  ? "framework-guide"
  : removeBeforeLastSlash(slug);

const { next: nextSlug, prev: prevSlug, current } = getPagger(pageSlugId);
type metaTag = {
  description: string;
  keywords: string;
};

const metaData: metaTag = sidebarItemFlaterned.find(
  (metaTag) => metaTag.name === pageSlugId
) || {
  description: "Flexilla Docs, Interactive Components Library",
  keywords: "flexilla docs",
};
---

<DocsLayout
  title={`Flexilla | ${title}`}
  activeItem={activeItem}
  headings={headings}
  description={metaData.description}
  keywords={`,${metaData.keywords}, flexilla docs`}
>
  <article
    class={`
      px5 sm-px10 lg-px14 min-w0 wfull mx-auto
      ${hideTableOfContent ? "xl-pl16 xl-pr0" : "xl-px16"}
    `}
  >
    <div class="pt8 pb5 b-b b-b-zinc6/30 dark-b-b-zinc5/20 space-y-2">
      <ol
        class="pb3 flex items-center gap2.5 whitespace-nowrap text-zinc7 dark-text-zinc3 capitalize"
      >
        <li>
          <a
            aria-label="Go to Docs Index page"
            href="/docs/"
            un-flex
            items-center
            gap-2.5
          >
            Docs
            <span aria-hidden="true" un-flex i-carbon-chevron-right
            ></span>
          </a>
        </li>
        <li un-truncate text-zinc6 dark-text-zinc4>
          {current.title}
        </li>
      </ol>
      <h1
        class="text-2xl md-text-3xl font-semibold text-zinc9 dark-text-white !mb0"
      >
        {title}
      </h1>
      <p class=" text-zinc7 dark-text-zinc3">
        {description}
      </p>
    </div>
    <div data-doc-content class="py10 wfull">
      <Content components={{ ...components }} />
    </div>
    {
      !hidePagination ? (
        <>
          <div class="flex wfull hpx my8 bg-zinc2/80 dark-bg-zinc8/80" />
          <div un-flex flex-col sm-flex-row w-full justify-between gap-4>
            <div flex-1>
              {prevSlug ? (
                <LinkNavControl
                  text={prevSlug.title}
                  href={prevSlug.slug}
                  type="prev"
                />
              ) : null}
            </div>

            <div flex-1>
              {nextSlug && !nextSlug.draft ? (
                <LinkNavControl
                  text={nextSlug.title}
                  href={nextSlug.slug}
                  type="next"
                />
              ) : null}
            </div>
          </div>
        </>
      ) : null
    }
  </article>
  {
    !hideTableOfContent ? (
      <div class="hidden xl-sticky xl-top-17.5 xl-h-[calc(100vh-4.375rem)] invisible xl-visible xl-flex xl-flex-col lg-gap-y8">
        <div class="lg-hfull lg-overflow-hidden overflow-hidden">
          <div
            data-hidden-scrollbar-s
            data-overlayscrollbars-initialize
            class="lg-hfull lg-overflow-hidden lg-overflow-y-auto"
          >
            <DeskTableOfContent headings={headings} />
          </div>
        </div>
        <div>
          <BoxContribution
            fileName={id}
            contribLink="https://github.com/unify-ui-dev/flexilla/blob/main/CONTRIBUTING.MD"
          />
        </div>
      </div>
    ) : null
  }
</DocsLayout>
<script>
  import "@assets/js/doc-script";
</script>
